{% extends 'layout.html' %}
{% load static %}

{% block content %}

<section id="gallery" class="section-with-bg wow fadeInUp">
    <section id="hotels">
  
      <div class="container">
        <div class="section-header">
          <h2>공여자리스트</h2>
          <p>Her are some nearby hotels</p>
        </div>
  
        <div class="row">
  
          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/1.jpg' %}" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="{% url 'v_detail' %}">Hotel 1</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>0.4 Mile from the Venue</p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/2.jpg' %}" alt="Hotel 2" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 2</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full"></i>
              </div>
              <p>0.5 Mile from the Venue</p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="{% static 'img/hotels/3.jpg' %}" alt="Hotel 3" class="img-fluid">
              </div>
              <h3><a href="#">Hotel 3</a></h3>
              <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>0.6 Mile from the Venue</p>
            </div>
          </div>
  
        </div>
      </div>
  
    </section></section>

    
<H1>DONOR VIEW</H1>

<div>
    {% for i in post %}
    <div>
        <div>
            게시물번호:&nbsp;{{ i.pk }}<br>
            카테고리:&nbsp;{{ i.post_type }}<br>
            글쓴이:&nbsp;{{ i.user }}<br>
            제목:&nbsp;{{ i.title }}<br>
            날짜:&nbsp;{{ i.pub_date }}<br>
            혈액형:&nbsp;{{ i.b_type }}<br>
            내용:&nbsp;{{ i.body }}<br>
            지역:&nbsp;{{ i.region }}<br>
            <a href="{% url 'update' pk=i.pk %}">수정</a>
            <a href="{% url 'delete' pk=i.pk %}">삭제</a>
            </div><br>
    {% endfor %}
</div>
{% endblock content %}